trigger:
  branches:
    include:
    - main

variables:
  vmImageName: 'ubuntu-latest'
  javaVersion: '17'

stages:
- stage: Build
  displayName: 'Build Application'
  jobs:
  - job: Build
    displayName: 'Build and Test'
    pool:
      vmImage: $(vmImageName)
    
    steps:
    - task: JavaToolInstaller@0
      inputs:
        versionSpec: $(javaVersion)
        jdkArchitectureOption: 'x64'
        jdkSourceOption: 'PreInstalled'
    
    - task: Maven@3
      inputs:
        mavenPomFile: 'pom.xml'
        goals: 'clean package'
        options: '--no-transfer-progress -DskipTests'
    
    - task: CopyFiles@2
      displayName: 'Copy JAR File'
      inputs:
        Contents: 'target/*.jar'
        TargetFolder: '$(Build.ArtifactStagingDirectory)'
        CleanTargetFolder: true
        OverWrite: true
        FlattenFolders: true
    
    - task: PublishBuildArtifacts@1
      displayName: 'Publish Artifact'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'drop'
        publishLocation: 'Container'

- stage: Deploy
  displayName: 'Deploy to Azure'
  dependsOn: Build
  condition: succeeded()
  jobs:
  - deployment: Deploy
    displayName: 'Deploy Web App'
    environment: 'production'
    pool:
      vmImage: $(vmImageName)
    strategy:
      runOnce:
        deploy:
          steps:
          - download: current
            artifact: drop
            displayName: 'Download Artifact'
          
          - task: AzureWebApp@1
            displayName: 'Deploy to Azure Web App'
            inputs:
              azureSubscription: 'your-azure-subscription'
              appType: 'webAppLinux'
              appName: 'futurehub-app'
              package: '$(Pipeline.Workspace)/drop/*.jar'
              runtimeStack: 'JAVA|17-java17'
